SELECT T1.aliasCodigo, 
T1.nombreEmpleado, 
T1.segundoNombre, 
T1.apellidoEmpleado, 
T1.segundoApellido, 
T1.apellidoCasada, 
T1.sexo, 
T1.direccion, 
T1.paisOrigen, 
T1.discapacidad, 
T1.estadoCivil, 
T1.raza, 
T1.tipoDoc, 
T1.noDoc, 
[dbo].[fnletrasdpi](T1.noDoc) AS dpiLetras,
dbo.[fndpiespacios](T1.noDoc) AS dpiEspacios,
T1.departNac, 
T1.muniNac, 
T1.departVec,
T1.departVec, 
T1.fechaNac, 
CONCAT(DATEDIFF(YEAR,T1.fechaNac,'2022-10-31'),' años')  AS edad,
lower(CONCAT(dbo.numeroAletra(DATEDIFF(YEAR,T1.fechaNac,'2022-10-31')),' años'))  AS edadLetras,
ISNULL(T1.conyugue,'')AS conyugue, 
T1.noIGGS, 
T1.NIT, 
T1.noTel, 
T1.noTelEmerg, 
T1.noTelNoti, 
T1.nomBeneficiario, 
T1.celBeneficiario, 
T1.banco, 
T1.noCuenta,
T1.noContract,
T1.profesion ,
T2.noContract,
T2.codDepto,
T3.nombre AS departamento,
T2.nomPuesto,
T2.fechaIngreso,
T2.salarioOrdinario,
lower( dbo.CantidadConLetra(T2.salarioOrdinario)) AS salarioOrdinarioLetras,
T2.bonifDecreto,
T2.bonifExtra,
T2.salarioMensual,
lower(dbo.CantidadConLetra(T2.salarioMensual)) AS salarioMensualLetras,
T2.tipoPago,
T2.departLab,
T2.muniLab,
T2.tipoContract,
T2.timeContract,
T2.jornadaLab,
T2.idLiquidacionIGSS,
T2.codCentroTrabajoIGSS,
T2.codOcupacionIGSS
FROM tEmpleado T1 
INNER JOIN tContrato T2 ON T1.codEmpleado=T2.codEmpleado 
INNER JOIN TDEPARTAMENTO T3 ON T2.CODDEPTO = T3.codDepto
WHERE T2.codEmpresa=6 AND T2.activo=1

